.narrowBox {
    max-width: 450px;
    margin: 1em auto;
    text-align:center;
}

.effield {
    padding: 0 1px;
    text-align: left;
}

.effieldlabel {
    margin: 0 -2px 0 0;
    padding: 0;
    display: block;
}

.requiredFieldFlag {
    display: inline-block;
    width: .6em;
    margin-left: 2px;
}

.efCheckboxStyleLabel {
    padding: 0 4px;
    display: inline-block;
}

label {
    display: block;
    letter-spacing: .01rem;
    margin-bottom: .5rem;
    font-size: 85%;
    color: #5F5F5F;
    font-weight: 400;
}

input {
    margin-top: .1rem;
    margin-bottom: .1rem;
}

input[type=text], input[type=tel], input[type=email], select {
    height: 30px;
    width: 99.5%;
    padding: 6px 8px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: none;
}

select {
    margin-top: .1rem;
    margin-bottom: .1rem;
    text-transform: none;
}

input[type=checkbox] {
    margin-bottom: 1rem;
    display: inline;
    box-sizing: border-box;
    padding: 0;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.light-button {
  font: 18px Arial;
  letter-spacing: .2px;
  text-decoration: none;
  display: inline-block;
  margin: 0 3px;
  padding: 7px 16px 7px;
  border: 1px solid transparent;
  color: #008c99;
  background-color: #edf7f7;
  border-radius: 1px;
}
.dark-button {
  font: 18px Arial;
  letter-spacing: .2px;
  text-decoration: none;
  display: inline-block;
  margin: 0 3px;
  padding: 7px 16px 7px;
  border: 1px solid transparent;
  color: #fff;
  background-color: #008c99;
  border-color: #008c99;
}
